:root {
  --dark-blue: #2d3142;
  --light-gray: #d8d5db;
  --gray: #adacb5;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul,
ul li {
  margin: 0;
  padding: 0;
}
header,
footer {
  background-color: var(--dark-blue);
  color: var(--white);
}
main {
  background-color: var(--light-gray);
}
aside {
  background-color: var(--gray);
}
